
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255,253,208);
    justify-content: center;
    align-items: center;
    display: flex;
}

.top {
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 550px;
}

.middle {
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    right: 550px;

}

.bottom {
    height: 300px;
    width: 300px;
    bottom: -250px;
    right: 550px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
}

.eye {
    position: relative;
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.eye.right {
    position: relative;
    background-color: black;
    top: 50px;
    right: 70px;
}

.eye.left {
    position: relative;
    background-color: black;
    top: 50px;
    left:70px;
}

.buttons {
    position: absolute;
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.buttons.1 {

}

.buttons.2 {

}

.buttons.3 {

}


.nose {
    position: absolute;
    border-left: 0px solid orange;
    border-right: 60px solid transparent;
    border-bottom: 15px solid orange;
    left: 640px;
    bottom: 410px;

}


.Larm {
    background-color: brown;
    width: 10px;
    height: 110px;
    rotate: 120deg;
    position: absolute;
    top: 350px;
    left: 350px;

}

.Rarm {
    position: absolute;
    background-color: brown;
    width: 10px;
    height: 110px;
    rotate: 60deg;
    top: 350px;
    right: 510px;
}
